
Calendar/.vs/Calendar/xs/project-cache/Calendar-Debug.json
Calendar/.vs/Calendar/xs/project-cache/Calendar.Android-Debug.json
Calendar/.vs/Calendar/xs/project-cache/Calendar.iOS-Debug|iPhoneSimulator.json
Calendar/.vs/Calendar/xs/UserPrefs.xml
